<pre>
 <code>
 {% highlight html lineos %}
 <!DOCTYPE html>
 <html lang="en">
  <head>
  <meta 
   name="viewport"
   content="initial-scale=1,
    maximum-scale=1,
    user-scalable=no" />
  </head>
  <body layout="column" flex>
   <div id="chrome_ctrl_placeholder">
   </div>
   <seco-fire-app layout="column" flex>
    Loading
    <md-button class="md-raised md-primary">Primary</md-button>
    <md-progress-circular 
     class="md-warn md-hue-3"
     md-mode="indeterminate"
     md-diameter="70">
    </md-progress-circular>
   </seco-fire-app>
   <form id="form1" runat="server">
   </form>
  </body>
 </html>
 {% endhighlight %}
 </code>
</pre>